<div class="about_page">
  <div class="container">
    <h1 id="name_header">Elliott Comfort Woodward</h1>
    <div class="bio">

      <p>
        Elliott moved to Asheville, North Carolina in 2014 after studying at the Roberto Venn School of Luthiery in Phoenix, Arizona. Currently he works on some of the best guitars in the world for Mountain Song Guitars in Candler, North Carolina.
      </p>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= image_tag("about4.jpg", class: "about_pic img-responsive") %>
      </div>
      <div class="col-md-3">
        <%= image_tag("about3.jpg", class: "about_pic img-responsive") %>
      </div>
      <div class="col-md-3">
        <%= image_tag("about1.jpg", class: "about_pic img-responsive") %>
      </div>
      <div class="col-md-3">
        <%= image_tag("about2.jpg", class: "about_pic img-responsive") %>
      </div>

    </div>
  </div>
</div>
