<div class="contact">
  <div class="container">

    <h1 id="contact_header">Get in touch! <br />I'll talk to anyone about building and repairing guitars.</h1>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
      <input type="email" class="form-control" placeholder="email">
    </div>
    <div class="form-group">
      <textarea rows="8" cols="80"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>

  </div>
</div>
