 /*
  * This is a manifest file that'll be compiled into application.css, which will include all the files
  * listed below.
  *
  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
  * vendor/assets/stylesheets directory can be referenced here using a relative path.
  *
  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
  * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
  * files in this directory. Styles in this file should be added after the last require_* statement.
  * It is generally better to create a new file per style scope.
  *
  *= require_tree .
  *= require_self
  */
  @import "bootstrap-sprockets";
  @import "bootstrap";
  @import "compass";
  @import "font-awesome";

.page {
  margin-top: 50px;
}




#map {
  margin-bottom: 100px;
}

#gallery {
  background-color: white;
}

.brand_icon {
  height: 1.5em;
}
.navbar-fixed-top {
  min-height:50px;
}
.navbar-fixed-bottom {
  min-height:30px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
}

.to-black {
  animation: toblack 8s;
}

@keyframes toblack {
  from { background-color: #003c68; }
  to { background-color: #000; }
}
